<md-content layout-padding flex="65" class="md-whiteframe-z2 main-container" style="padding-left:32px;">
    <div layout="row" layout-align="center center" style="position:absolute;top:164px;margin-left:-32px;transform:rotate(270deg);">
        pH
    </div>

    <canvas style="margin-left:0px" id="line" class="chart chart-line" chart-data="data"
        chart-labels="labels"
        chart-click="onClick" chart-options="{animation : false, xAxisID: 'Test'}">
    </canvas>
    <div layout="row" layout-align="center center">
        ml Volumen de NaOH
    </div>

</md-content>

<md-content layout-padding layout="column" flex="35" layout-align="center center" class="md-whiteframe-z2 main-container">
    <h1 class="md-display-3">Échale NaOH</h1>

    <h1 class="md-title">Jugo seleccionado: {{juice.name}}</h1>
    <h1 class="md-title">pH Actual: {{currentPH}}</h1>
    <h1 class="md-title" style="text-align:center;" ng-if="increaseDisabled">Concentración de ácido cítrico en 100ml: {{juice.citric}}g</h1>
    <img style="height:128px" ng-src="{{bottle}}" alt="" />

    <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="increase()" ng-disabled="increaseDisabled">
            <md-tooltip md-direction="bottom">
                (Agregar mililitros de agente titulante)
            </md-tooltip>
            <span ng-if="!increaseDisabled">Echar N<span style="text-transform:lowercase">a</span>OH</span>
            <span ng-if="increaseDisabled">Se acabó el N<span style="text-transform:lowercase">a</span>OH :(</span>
        </md-button>
        <md-button class="md-raised md-accent" ui-sref="/">Salir</md-button>
    </div>

</md-content>
