<md-content layout-padding layout="column" flex="35" layout-align="start center" class="md-whiteframe-z2 main-container">
    <h1 class="md-display-3">Explicación del analito</h1>
    <div class="md-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
</md-content>

<md-content layout="column" flex="65" layout-align="center center" class="md-whiteframe-z2 main-container">
    <h1 class="md-display-3">Selecciona tu jugo</h1>

    <h4 class="md-title">
        ¿Qué tipo de jugo te gustaría titular?
    </h4>

    <md-content layout-padding flex layout-wrap layout="row" layout-align="space-around center" style="width:100%">
        <div class="fruit-container">
            <img class="fruit" ng-click="selectJuice('toronjaNatural')" md-ripple src="img/grapefruit.png" alt="Toronja"/>
            <md-icon ng-show="selectedJuice == 'toronjaNatural'" class="material-icons fruit-check">check</md-icon>
            <md-tooltip md-direction="bottom">
              Toronja Natural
            </md-tooltip>
        </div>
        <div class="fruit-container">
            <img class="fruit" ng-click="selectJuice('naranjaNatural')" src="img/orange.png" alt="Naranja" />
            <md-icon ng-show="selectedJuice == 'naranjaNatural'" class="material-icons fruit-check">check</md-icon>
            <md-tooltip md-direction="bottom">
              Naranja Natural
            </md-tooltip>
        </div>
        <div class="fruit-container">
            <img class="fruit" ng-click="selectJuice('limonNatural')" src="img/lemon.png" alt="Limon" />
            <md-icon ng-show="selectedJuice == 'limonNatural'" class="material-icons fruit-check">check</md-icon>
            <md-tooltip md-direction="bottom">
              Limon Natural
            </md-tooltip>
        </div>
        <div class="fruit-container">
            <img class="fruit" ng-click="selectJuice('toronjaArtificial')" src="img/grapefruit.png" alt="Toronja Artificial" />
            <span class="artificial-positioning" ng-click="selectJuice('toronjaArtificial')" layout="row" layout-align="center center"><span>A</span></span>
            <md-icon ng-show="selectedJuice == 'toronjaArtificial'" class="material-icons fruit-check">check</md-icon>
            <md-tooltip md-direction="bottom">
              Toronja Artificial
            </md-tooltip>
        </div>
        <div class="fruit-container">
            <img class="fruit" ng-click="selectJuice('naranjaArtificial')" src="img/orange.png" alt="Naranja Artificial" />
            <span class="artificial-positioning" ng-click="selectJuice('naranjaArtificial')" layout="row" layout-align="center center"><span>A</span></span>
            <md-icon ng-show="selectedJuice == 'naranjaArtificial'" class="material-icons fruit-check">check</md-icon>
            <md-tooltip md-direction="bottom">
              Naranja Artificial
            </md-tooltip>
        </div>
        <div class="fruit-container">
            <img class="fruit" ng-click="selectJuice('limonArtificial')" src="img/lemon.png" alt="Limon Artificial" />
            <span class="artificial-positioning" ng-click="selectJuice('limonArtificial')" layout="row" layout-align="center center"><span>A</span></span>
            <md-icon ng-show="selectedJuice == 'limonArtificial'" class="material-icons fruit-check">check</md-icon>
            <md-tooltip md-direction="bottom">
              Limon Artificial
            </md-tooltip>
        </div>
    </md-content>

    <md-button class="md-raised md-primary" ng-click="goToPlay()">Comenzar!</md-button>

</md-content>
