<md-content layout-padding layout="column" flex="35" layout-align="start center" class="md-whiteframe-z2 main-container">
    <h3 class="md-display-3">Explicación del analito</h3>
    <div class="md-body">
        <p>
            <strong>Ácido:</strong> Molécula que dona protones (Hidrógeno)
        </p>
        <p>
            <strong>Base:</strong> Molécula que recibe protones (Hidrógeno)
        </p>
        <p>
            <strong>Neutralización:</strong> Reacción entre un ácido y base, que da como producto una sal y agua.
        </p>
        <p>
            <strong>Punto de Equivalencia (Estequiométrico):</strong> Es el punto en el que se ha añadido la misma cantidad de base como ácido.
        </p>
    </div>
</md-content>

<md-content layout="column" flex="65" layout-align="center center" class="md-whiteframe-z2 main-container">
    <h1 class="md-display-3">Selecciona tu jugo</h1>

    <h4 class="md-title">
        ¿Qué tipo de jugo te gustaría titular?
    </h4>

    <md-content layout-padding flex layout-wrap layout="row" layout-align="space-around center" style="width:100%">
        <div class="fruit-container">
            <img class="fruit" ng-click="selectJuice('toronjaNatural')" md-ripple src="img/grapefruit.png" alt="Toronja"/>
            <md-icon ng-show="selectedJuice == 'toronjaNatural'" class="material-icons fruit-check">check</md-icon>
            <md-tooltip md-direction="bottom">
              Toronja Natural
            </md-tooltip>
        </div>
        <div class="fruit-container">
            <img class="fruit" ng-click="selectJuice('naranjaNatural')" src="img/orange.png" alt="Naranja" />
            <md-icon ng-show="selectedJuice == 'naranjaNatural'" class="material-icons fruit-check">check</md-icon>
            <md-tooltip md-direction="bottom">
              Naranja Natural
            </md-tooltip>
        </div>
        <div class="fruit-container">
            <img class="fruit" ng-click="selectJuice('limonNatural')" src="img/lemon.png" alt="Limon" />
            <md-icon ng-show="selectedJuice == 'limonNatural'" class="material-icons fruit-check">check</md-icon>
            <md-tooltip md-direction="bottom">
              Limon Natural
            </md-tooltip>
        </div>
        <div class="fruit-container">
            <img class="fruit" ng-click="selectJuice('toronjaArtificial')" src="img/grapefruit.png" alt="Toronja Artificial" />
            <span class="artificial-positioning" ng-click="selectJuice('toronjaArtificial')" layout="row" layout-align="center center"><span>A</span></span>
            <md-icon ng-show="selectedJuice == 'toronjaArtificial'" class="material-icons fruit-check">check</md-icon>
            <md-tooltip md-direction="bottom">
              Toronja Artificial
            </md-tooltip>
        </div>
        <div class="fruit-container">
            <img class="fruit" ng-click="selectJuice('naranjaArtificial')" src="img/orange.png" alt="Naranja Artificial" />
            <span class="artificial-positioning" ng-click="selectJuice('naranjaArtificial')" layout="row" layout-align="center center"><span>A</span></span>
            <md-icon ng-show="selectedJuice == 'naranjaArtificial'" class="material-icons fruit-check">check</md-icon>
            <md-tooltip md-direction="bottom">
              Naranja Artificial
            </md-tooltip>
        </div>
        <div class="fruit-container">
            <img class="fruit" ng-click="selectJuice('limonArtificial')" src="img/lemon.png" alt="Limon Artificial" />
            <span class="artificial-positioning" ng-click="selectJuice('limonArtificial')" layout="row" layout-align="center center"><span>A</span></span>
            <md-icon ng-show="selectedJuice == 'limonArtificial'" class="material-icons fruit-check">check</md-icon>
            <md-tooltip md-direction="bottom">
              Limon Artificial
            </md-tooltip>
        </div>
    </md-content>

    <md-button class="md-raised md-primary" ng-click="goToPlay()" ng-disabled="selectedJuice == undefined">Comenzar!</md-button>

</md-content>
