

<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Ácido cítrico</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding>
            <p>
                Al inicio tenemos una concentración de ácido cítrico. Debido a que son hidrógenos muy ácidos pueden irse muy fácilmente. (Hidrógenos circulados)
            </p>
            <div class="md-dialog-content" layout="row" layout-align="start">
                <img style="height:150px" src="img/initial.png" alt="" />
                <img style="height:200px" src="img/start_details1.jpg" alt="" />
                <img style="height:200px" src="img/start_details2.jpg" alt="" />
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" >
                Aceptar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
